.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2rem;
}
.account {
  font-size: 0.875rem;
  color: #555;
}
.title {
  font-family: serif;
  font-size: 1.5rem;
  text-align: center;
}
.auth button {
  margin-left: 1rem;
  background: var(--red);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 1100px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }
}